a {
    font-family: "Brush Script Std Medium", cursive, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: hotpink;
    text-decoration: none;
    text-transform: none;
}

h1 {
    font-family: "Brush Script Std Medium", cursive, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: hotpink;
    text-decoration: none;
    text-transform: none;
}
