/* Chamar o ID grade usando o # */

#grade {
    display: grid; /* informo que é grid*/
    grid-template-columns: 40% auto 20%;
    grid-template-rows: repeat(100px);  /* repetir 3 linhas com 100px*/
    height: 100vh;
    width: 100vw;
    gap:30px;

    grid-template-areas: /*organizar as areas*/
    "verdeagua h20 h20"
    "verdeagua laranja verdeescuro"
    "rosa laranja verdeclaro"
    ;
}

#grade>*{
    border: 1px solid #050404;
    border-radius: 30px;
    padding: 10px;
}

/* Chamar os elementos */

header {
    grid-area:h20;
    background-color: aquamarine;
}

#verdeagua{
    grid-area: verdeagua;
    background-color: greenyellow;
}
#laranja{
    grid-area: laranja;
    background-color: orangered;
}
#rosa{
    grid-area: rosa;
    background-color: pink;
}
#verdeescuro{
    grid-area: verdeescuro;
    background-color: green;
}
#verdeclaro{
    grid-area: verdeclaro;
    background-color: greenyellow;
}

